/test_double.txt
/test_000200_particles.txt
/test_000200_springs.txt
/test_pt.txt
/test_res_2.txt
/test_res_E.txt
/test_res_bin.txt
/test_res_no_E.txt
/test_res_orb.txt
/test_stress.txt
/test_surf_parts.txt
